{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home</title>
    <!-- <link rel="stylesheet" href="../../static/style.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Chai aur Django</h1>
    <a href={% url 'contact' %}>contact</a>
    {% comment %} <a href={% url 'secondApp/indexTwo' %}> App Two/indexTwo</a> {% endcomment %}
    <a href={% url 'indexTwo' %}> <br> /indexTwo</a>

</body>


</html>